Repository ndenStanford/ml-mesh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @airpr/mlops-engineers, @RonsenbergVI, @airpr/ml-engineers, @sreza1

.github/CODEOWNERS:

# Send notifications to the ml team whenever a change occurs to the following files

## MLOPs Own all the things

* @airpr/mlops-engineers @RonsenbergVI

## MLE owns the project implementation

/projects @airpr/ml-engineers

## TODO: associate each project owner with the folder

### keybert

/projects/keybert @sreza1
/projects/summarization @sreza1

update libraries readme
  libs/README.md
Owners: @airpr/mlops-engineers, @RonsenbergVI

update core library
  libs/core/onclusiveml/core/constants.py
  libs/core/onclusiveml/core/logger.py
  libs/core/onclusiveml/tests/unit/constants_test.py
  libs/core/onclusiveml/tests/unit/logger_test.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
Owners: @airpr/mlops-engineers, @RonsenbergVI

exclude tests
  .pre-commit-config.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

exclude all tests
  .pre-commit-config.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update core library
  libs/core/onclusiveml/core/base/__init__.py
  libs/core/onclusiveml/core/base/exception.py
  libs/core/onclusiveml/core/logging/__init__.py
  libs/core/onclusiveml/core/logging/constants.py
  libs/core/onclusiveml/core/logging/loggers.py
  libs/core/onclusiveml/tests/unit/base/exception_test.py
  libs/core/onclusiveml/tests/unit/logging/loggers_test.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

update libs makefile
  libs/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

update projects README
  projects/README.md
Owners: @airpr/ml-engineers

add error handling advice
  README.md
Owners: @airpr/mlops-engineers, @RonsenbergVI

update library unit test step
  .github/workflows/pull-request.yaml
  libs/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated neuron-compile docker image to run compilation test suite for 'pytest -m build' command. removed entrypoint. updated the docker core workflow to use the same command, too
  .github/workflows/_core-docker.yaml
  docker/neuron-compile/Dockerfile
  docker/neuron-compile/test/entrypoint.sh
  docker/neuron-compile/test/test_torch_neuron.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated neuron-inference with agreed on changes from PR#7. also had to re-remote the neuron-compile entrypoint file for some reason
  docker/neuron-compile/test/entrypoint.sh
  docker/neuron-inference/Dockerfile
  docker/neuron-inference/test/conftest.py
  docker/neuron-inference/test/entrypoint.sh
  docker/neuron-inference/test/test_torch_neuron.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

added additional workflow argument to toggle building and running of development stage in core images, as only the neuron-compile has a pytest suite that can be run
  .github/workflows/_core-docker.yaml
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

fixed pr flow update: need to reference the matrix value in the 'with' section to make use of it
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

github actions as skipping the entire run-docker step. trying another way to specify matrix with new validate-build param
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

applying the prettier formatting
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update keyword extraction project
  projects/README.md
  projects/keybert/docker-compose.dev.yaml
  projects/keybert/serve/Dockerfile
  projects/keybert/serve/src/app.py
  projects/keybert/serve/src/routes/__init__.py
  projects/keybert/serve/tests/integration/.gitkeep
  projects/keybert/serve/tests/unit/app_test.py
  projects/keybert/serve/tests/unit/predict_test.py
  projects/keybert/serve/tests/unit/routes_test.py
  projects/keybert/serve/tests/unit/schemas_test.py
  projects/keybert/serve/tests/unit/settings_test.py
  projects/keywords/README.md
  projects/keywords/docker-compose.dev.yaml
  projects/keywords/serve/Dockerfile
  projects/keywords/serve/poetry.lock
  projects/keywords/serve/poetry.toml
  projects/keywords/serve/pyproject.toml
  projects/keywords/serve/src/__init__.py
  projects/keywords/serve/src/_init.py
  projects/keywords/serve/src/app.py
  projects/keywords/serve/src/predict/__init__.py
  projects/keywords/serve/src/predict/keybert.py
  projects/keywords/serve/src/routes/__init__.py
  projects/keywords/serve/src/routes/health.py
  projects/keywords/serve/src/routes/v1/__init__.py
  projects/keywords/serve/src/routes/v1/keywords.py
  projects/keywords/serve/src/schemas/__init__.py
  projects/keywords/serve/src/schemas/request.py
  projects/keywords/serve/src/schemas/response.py
  projects/keywords/serve/src/settings.py
  projects/keywords/serve/tests/integration/conftest.py
  projects/keywords/serve/tests/integration/predict_test.py
  projects/keywords/serve/tests/unit/app_test.py
  projects/keywords/serve/tests/unit/conftest.py
  projects/keywords/serve/tests/unit/predict_test.py
  projects/keywords/serve/tests/unit/routes_test.py
  projects/makefile.mk
Owners: @airpr/ml-engineers, @sreza1

update project list
  .github/workflows/deployment.yaml
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

add fastapi image full uri
  projects/keywords/serve/Dockerfile
Owners: @airpr/ml-engineers

add ci docker-compose
  Makefile
  projects/keywords/docker-compose.ci.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI, @airpr/ml-engineers

updated the deployment workflow's run-docker job so neuron-compile image is rebuilt on merging the PR, too
  .github/workflows/deployment.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

removing the pushing of the development image from workflow
  .github/workflows/_core-docker.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

adding neuron-inference to the deployment workflow
  .github/workflows/deployment.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

fix failing step
  projects/keywords/serve/Dockerfile
  projects/keywords/serve/poetry.lock
  projects/keywords/serve/pyproject.toml
Owners: @airpr/ml-engineers

move workdir command
  projects/keywords/serve/Dockerfile
Owners: @airpr/ml-engineers

adding train component for keybert model 'training' + registration to neptune ai model registry
  projects/keybert/train/Dockerfile
Owners: @sreza1

building and running development before production so no additional image version tag argument is needed in makefile
  .github/workflows/_core-docker.yaml
  docker/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

basic tests
  projects/summarization/docker-compose.dev.yaml
  projects/summarization/serve/tests/unit/app_test.py
  projects/summarization/serve/tests/unit/conftest.py
Owners: @sreza1

remove assert
  projects/summarization/serve/tests/unit/app_test.py
Owners: @sreza1

routes test
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

update
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

tidy up
  projects/summarization/serve/src/app.py
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/src/routes/__init__.py
  projects/summarization/serve/src/routes/health.py
  projects/summarization/serve/src/routes/v1/__init__.py
  projects/summarization/serve/src/routes/v1/summarization.py
  projects/summarization/serve/src/schemas/__init__.py
  projects/summarization/serve/src/schemas/request.py
  projects/summarization/serve/src/schemas/response.py
  projects/summarization/serve/src/settings.py
Owners: @sreza1

fix router
  projects/summarization/serve/src/app.py
Owners: @sreza1

added keyword library to the list of libs to run unit tests on. also added make targets for individual and collective intergration tests
  Makefile
  libs/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

predict test
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

remove development suffix
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

remove failing layer
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

format files
  docker/neuron-compile/test/conftest.py
  docker/neuron-compile/test/test_torch_neuron.py
  docker/neuron-inference/test/conftest.py
  docker/neuron-inference/test/test_torch_neuron.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

fix tests
  .github/workflows/deployment.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated docker compose file for train step, but need to check how secret env var can be injected. also made progress with dockerfile, but builds snags on the keyword custom lib
  projects/keybert/docker-compose.dev.yaml
  projects/keybert/train/Dockerfile
  projects/keybert/train/poetry.lock
  projects/keybert/train/pyproject.toml
Owners: @sreza1

clean up
  projects/summarization/docker-compose.ci.yaml
  projects/summarization/serve/Dockerfile
  projects/summarization/serve/poetry.lock
  projects/summarization/serve/pyproject.toml
  projects/summarization/serve/src/app.py
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/src/routes/health.py
  projects/summarization/serve/src/routes/v1/summarization.py
  projects/summarization/serve/src/settings.py
  projects/summarization/serve/tests/unit/conftest.py
  projects/summarization/serve/tests/unit/predict_test.py
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1
