Repository ndenStanford/ml-mesh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @airpr/mlops-engineers, @RonsenbergVI, @airpr/ml-engineers, @sreza1

update
  .github/workflows/deployment.yaml
  .github/workflows/pull-request.yaml
  projects/summarization/README.md
  projects/summarization/serve/src/routes/summarization.py
Owners: @airpr/mlops-engineers, @RonsenbergVI, @sreza1

typos
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/src/routes/summarization.py
Owners: @sreza1

adding the neuron-inference base image section
  docker/neuron-inference/Dockerfile
  docker/neuron-inference/poetry.lock
  docker/neuron-inference/pyproject.toml
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated the PR workflow to run neuron inference docker build. also updated global makefile list of docker images with neuron inference
  .github/workflows/pull-request.yaml
  Makefile
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed the list removal step from the apt update handling the aws neuron key addition as it was undoing that steps logic
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

remove stage from runs
  .github/workflows/deployment.yaml
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

remove target branch from dependendabot settings
  .github/dependabot.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

finished multi stage update of new compilation and inference image neuron-compile. updated the docker build make command to check for new BUIlD_STRATEGY argument.
  docker/makefile.mk
  docker/neuron-compile/Dockerfile
  docker/neuron-compile/poetry.lock
  docker/neuron-compile/pyproject.toml
  docker/neuron-compile/test/conftest.py
  docker/neuron-compile/test/test_torch_neuron.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated the docker and pr workflows with new build-stategy argument. updated docker.build make command to check for default single-stage value
  .github/workflows/_core-docker.yaml
  .github/workflows/pull-request.yaml
  docker/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

removing unused fixture
  docker/neuron-compile/test/conftest.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed comments from precommit sections that are broken on inferentia ec2 aws linux 2 instance
  .pre-commit-config.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

group runs by feature branch name
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

fixed kubeflow entrypoint issue by basing development on builder and moving the init entrypoint keeping the container running into production
  docker/fastapi-serve/Dockerfile
  docker/kubeflow-data-science/Dockerfile
  docker/kubeflow-jupyter/Dockerfile
  docker/kubeflow-torch-cpu/Dockerfile
  docker/neuron-compile/Dockerfile
  docker/python-base/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed comment from makefile
  docker/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

moved neuron compile up the list
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

tiny change in neuron inference dockerfile. need to add the test section and copying step from compile image development stage
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated neuron inference poetry setting with test dependencies
  docker/neuron-inference/poetry.lock
  docker/neuron-inference/pyproject.toml
Owners: @airpr/mlops-engineers, @RonsenbergVI

testing neuron inference locally with reference to neuron compile development stage
  docker/neuron-inference/Dockerfile
  docker/neuron-inference/test/entrypoint.sh
Owners: @airpr/mlops-engineers, @RonsenbergVI

got the cross image build stage artifact copy working locally
  docker/makefile.mk
  docker/neuron-compile/Dockerfile
  docker/neuron-compile/test/entrypoint.sh
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

reordering to trigger workflow again
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

reordering bc images are commit stamped, so need to be built in order of dependency
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

added empty entypoints to resolve current build issues when running development stages
  docker/kubeflow-data-science/Dockerfile
  docker/kubeflow-jupyter/Dockerfile
  docker/kubeflow-torch-cpu/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

adding non-empty dummy entrypoitns to pass the running of development build stages
  docker/kubeflow-data-science/Dockerfile
  docker/kubeflow-jupyter/Dockerfile
  docker/kubeflow-torch-cpu/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

resolved copying over the neuron-compile test outputs by adding helper build layer that resolves build args into ecr reference
  docker/neuron-inference/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

added inference test suite to entrypoint for local testing on inf1 instance
  docker/neuron-inference/test/entrypoint.sh
Owners: @airpr/mlops-engineers, @RonsenbergVI

disabling the inference test suite until inferentia self hosted runners are available and configured
  docker/neuron-compile/test/entrypoint.sh
  docker/neuron-inference/test/entrypoint.sh
Owners: @airpr/mlops-engineers, @RonsenbergVI

removing neuron device argument from docker core workflow run command - only needed for local testing
  docker/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated pr workflow to also push development version of image. required for neuron-inference build to complete as it pulls the neuron-compile development file system
  .github/workflows/_core-docker.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

newline in inference test entrypoint
  docker/neuron-inference/test/entrypoint.sh
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed fastapi duplicate from list of images to build in pr workflow
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated the docker lineage image. dotted line represents the development layer dependency providing access to compiled model artifacts
  docker/docker-image-lineage.png
  docker/image-flow-chart.png
Owners: @airpr/mlops-engineers, @RonsenbergVI

made it clearer that inference is a strict downstream image of compile bc of artifact depedency
  docker/docker-image-lineage.png
Owners: @airpr/mlops-engineers, @RonsenbergVI

update pre-commit settings
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  pytest.ini
Owners: @airpr/mlops-engineers, @RonsenbergVI

update issue templates adn related documentation
  .github/ISSUE_TEMPLATE/04_NEW_PROJECT_COMPONENT.md
  .github/ISSUE_TEMPLATE/05_NEW_LIB.md
  .github/ISSUE_TEMPLATE/06_NEW_CORE_DOCKER_IMAGE.md
  README.md
Owners: @airpr/mlops-engineers, @RonsenbergVI

update dependabit settings to get less PRs
  .github/dependabot.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update project workflow
  .github/workflows/_projects.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

format file
  docker/kubeflow-jupyter/.jupyter/jupyter_notebook_config.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

add docker extra flags variable
  Makefile
Owners: @airpr/mlops-engineers, @RonsenbergVI

fix typo
  docker/fastapi-serve/Dockerfile
Owners: @airpr/mlops-engineers, @RonsenbergVI

format docker build target
  docker/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI

.github/CODEOWNERS:

# Send notifications to the ml team whenever a change occurs to the following files

## MLOPs Own all the things

* @airpr/mlops-engineers @RonsenbergVI

## MLE owns the project implementation

/projects @airpr/ml-engineers

## TODO: associate each project owner with the folder

### keybert

/projects/keybert @sreza1
/projects/summarization @sreza1
