Repository ndenStanford/ml-mesh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @airpr/mlops-engineers, @RonsenbergVI, @airpr/ml-engineers, @sreza1

cleanup
  projects/summarization/serve/src/app.py
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/src/routes/v1/summarization.py
  projects/summarization/serve/src/schemas/__init__.py
  projects/summarization/serve/src/schemas/request.py
  projects/summarization/serve/src/schemas/response.py
  projects/summarization/serve/src/settings.py
  projects/summarization/serve/tests/unit/conftest.py
  projects/summarization/serve/tests/unit/predict_test.py
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

cleanup
  projects/summarization/serve/src/routes/health.py
Owners: @sreza1

had to update integration tests for keyword library to make the pipeline level test work.
  libs/keyword/onclusiveml/tests/integration/test_compile_pipeline.py
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed one dev notebook and renamed the other
  projects/keybert/train/dev.ipynb
  projects/keybert/train/eda_neuron_compile.keybert.ipynb
Owners: @sreza1

add app deployment to workflow
  .github/workflows/_apps.yaml
  projects/makefile.mk
Owners: @airpr/mlops-engineers, @RonsenbergVI, @airpr/ml-engineers

add prompt application v1
  apps/README.md
  apps/makefile.mk
  apps/prompt/backend/Dockerfile
  apps/prompt/backend/poetry.lock
  apps/prompt/backend/poetry.toml
  apps/prompt/backend/pyproject.toml
  apps/prompt/backend/src/__init__.py
  apps/prompt/backend/src/_init.py
  apps/prompt/backend/src/app.py
  apps/prompt/backend/src/db.py
  apps/prompt/backend/src/helpers.py
  apps/prompt/backend/src/prompt/__init__.py
  apps/prompt/backend/src/prompt/generate.py
  apps/prompt/backend/src/prompt/routes/__init__.py
  apps/prompt/backend/src/prompt/routes/v1.py
  apps/prompt/backend/src/prompt/schemas.py
  apps/prompt/backend/src/prompt/tables.py
  apps/prompt/backend/src/routes.py
  apps/prompt/backend/src/settings.py
  apps/prompt/backend/tests/integration/conftest.py
  apps/prompt/backend/tests/integration/database_test.py
  apps/prompt/backend/tests/integration/routes_test.py
  apps/prompt/backend/tests/unit/app_test.py
  apps/prompt/backend/tests/unit/conftest.py
  apps/prompt/backend/tests/unit/database_test.py
  apps/prompt/backend/tests/unit/routes_test.py
  apps/prompt/backend/tests/unit/schema_test.py
  apps/prompt/docker-compose.dev.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

updated lock file by removing internal keyword lib
  projects/keybert/train/poetry.lock
Owners: @sreza1

successfully tested docker compose locally for train component
  projects/keybert/docker-compose.dev.yaml
Owners: @sreza1

add apps to included files to check
  .pre-commit-config.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update docker compose cmd
  Makefile
Owners: @airpr/mlops-engineers, @RonsenbergVI

format files
  apps/prompt/backend/src/_init.py
  apps/prompt/backend/src/app.py
  apps/prompt/backend/src/db.py
  apps/prompt/backend/src/helpers.py
  apps/prompt/backend/src/prompt/generate.py
  apps/prompt/backend/src/prompt/routes/__init__.py
  apps/prompt/backend/src/prompt/routes/v1.py
  apps/prompt/backend/src/prompt/schemas.py
  apps/prompt/backend/src/prompt/tables.py
  apps/prompt/backend/src/routes.py
  apps/prompt/backend/src/settings.py
  apps/prompt/backend/tests/unit/conftest.py
  apps/prompt/docker-compose.dev.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

cleaned up old docker compose. created new 'keywords' project in neptune to align names and updated the settings
  projects/keybert/docker-compose.dev.yaml
  projects/keywords/train/src/settings.py
Owners: @sreza1, @airpr/ml-engineers

fix library typo
  projects/summarization/serve/src/app.py
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/src/routes/v1/summarization.py
Owners: @sreza1

running pre commit on new python content
  projects/keywords/train/src/register_trained_model.py
  projects/keywords/train/src/settings.py
Owners: @airpr/ml-engineers

moving dummy test in unit test dir and running pre commit
  projects/keywords/train/tests/unit/test_dummy.py
Owners: @airpr/ml-engineers

add api key to compose
  projects/summarization/docker-compose.ci.yaml
  projects/summarization/docker-compose.dev.yaml
Owners: @sreza1

updated the ci compose file with new train component. fixed the build indentation error in the dev compose file. added builder, development and production stages to dockerfile
  projects/keywords/docker-compose.ci.yaml
  projects/keywords/docker-compose.dev.yaml
  projects/keywords/train/Dockerfile
Owners: @airpr/ml-engineers

fix missing import
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

update PR creation time
  .github/dependabot.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update keywords project name
  .github/dependabot.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

remove unwanted
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

add status lib
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

add status lib
  projects/summarization/serve/tests/unit/routes_test.py
Owners: @sreza1

patch
  projects/summarization/serve/src/predict/summarization.py
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

add missing lib
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

missing new line
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

add missing lib
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

add missing lib
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

predict test
  projects/summarization/serve/poetry.lock
  projects/summarization/serve/tests/integration/conftest.py
  projects/summarization/serve/tests/integration/predict_test.py
  projects/summarization/serve/tests/unit/predict_test.py
Owners: @sreza1

remove git keep
  projects/summarization/serve/tests/integration/.gitkeep
Owners: @sreza1

update workflow
  .github/workflows/pull-request.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

update workflow
  .github/workflows/deployment.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

this should fail
  Makefile
  projects/summarization/serve/poetry.lock
  projects/summarization/serve/src/app.py
  projects/summarization/serve/src/routes/v1/summarization.py
  projects/summarization/serve/src/schemas/request.py
  projects/summarization/serve/tests/integration/predict_test.py
  projects/summarization/serve/tests/unit/schemas_test.py
  projects/summarization/serve/tests/unit/settings_test.py
Owners: @airpr/mlops-engineers, @RonsenbergVI, @sreza1

fix lock file
  projects/summarization/serve/poetry.lock
Owners: @sreza1

tests
  projects/summarization/serve/src/routes/v1/summarization.py
  projects/summarization/serve/tests/integration/predict_test.py
Owners: @sreza1

fix
  .github/workflows/_projects.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

remove latest tag steps
  .github/workflows/_projects.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

saving down eda content to switch branches
  libs/ml-compile/onclusiveml/ml-compile/compile_pipeline.py
  libs/ml-compile/onclusiveml/ml-compile/compiled_model.py
  libs/ml-compile/onclusiveml/ml-compile/eda_notebook.ipynb
  libs/ml-compile/onclusiveml/ml-compile/test_compiled_model.ipynb
  libs/ml-compile/poetry.lock
  libs/ml-compile/pyproject.toml
Owners: @airpr/mlops-engineers, @RonsenbergVI

fix
  .github/workflows/_projects.yaml
Owners: @airpr/mlops-engineers, @RonsenbergVI

removed notebooks and hardcoded docker build args for now as agreed
  projects/keywords/train/Dockerfile
  projects/keywords/train/eda_neuron_compile.keybert.ipynb
  projects/keywords/train/register_trained_model.ipynb
Owners: @airpr/ml-engineers

.github/CODEOWNERS:

# Send notifications to the ml team whenever a change occurs to the following files

## MLOPs Own all the things

* @airpr/mlops-engineers @RonsenbergVI

## MLE owns the project implementation

/projects @airpr/ml-engineers

## TODO: associate each project owner with the folder

### keybert

/projects/keybert @sreza1
/projects/summarization @sreza1
